body {
    background-color:#333;
    color:#eee;
    font-family:sans-serif;
}
.container {
    margin: 0 auto;
    max-width:1280px;
    background-color:#282828;
    padding:0.3em;
    border-radius:0.3em;
}
a {
    color:lime;
    text-decoration:none;
}
a:visited {
    color:lime;
}
h1.admin {
    background-color:#222;
    border-radius:0.3em;
    padding:0.3em;
    max-width:90%;
    text-align:center;
    display:block;
    margin:0 auto;
    margin-bottom:1em;
}
.mainmenu {
    display:block;
    margin-bottom:1em;
    
}
h2.admin {
    background-color:#222;
    border-radius:0.3em;
    padding:0.3em;
    display:block;
    margin:0 auto;
    margin-bottom:1em;
}
div.admin {
    padding:1em;
    border-radius:0.3em;
}
section.admin {
    background-color:#222;
    padding:1em;
    border-radius:0.3em;
    
}
div.form {
    font-family:monospace;
    font-size:1.3em;
   
    display:inline-block;
    
}

div.form.description {
    padding:0.3em;
    font-family:monospace;
    font-size:1.3em;
    color:gray;
    display:inline-block;
    
}
div.admin.element {
    border-bottom:1px solid white;
    border-top:1px solid white;
    
}
div.admin.server {
    background-color:#222;
    padding:0.3em;
    border-radius:0.3em;
    
}
section.admin.server {
    border-bottom:1px solid white;
    border-top:1px solid white;
}
.admin.description {
    padding:0.3em;
    font-family:monospace;
    color:gray;
    display:inline-block;
    font-size:1.3em;
    
}
.admin.property {
    color:#dfd;
    
}
.gray  {
    color:gray;
    
}
.pad {
    padding:0.1em;
    
}
.admin .menu {
}
input {
    background-color:#333;
    color:#efefef;
    padding:0.3em;
}

textarea {
    background-color:#333;
    color:#efefef;
    padding:0.3em;
}
    

.admin .menu a {
    text-decoration:none;
    background-color:#181818;
    padding:1em;
    display:inline-block;
    border-radius:0.3em;
}

.pink {
    color:pink;
}
.lightblue {
    color:lightblue;
}
div.form h3 {
    color:#eee;
    
}
